@import '../../../styles/variables';

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.shapeBtn {
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.875rem;
    font-weight: 500;
    border: 1px solid $border-color;
    background-color: $background-color;
    color: $text-primary;
    @include transition(background-color, color, border-color);

    &:hover {
        border-color: rgba($text-primary, 0.5);
    }

    &.active {
        background-color: $text-primary;
        color: $background-color; // inversed
        border-color: $text-primary;
    }
}